/*index.css*/

body {
    font-family: Arial, Helvetica, sans-serif!important;
}

.nav-link {
    color: #2eaa2e !important;
    font-size: 17px;
    font-weight: bolder;
}

.nav-item {
    padding-right: 0px;
}

.active-home {
    color: #2c52a3 !important;
}

.nav-link:hover {
    color: #2c52a3 !important;
}

.navbar-brand {
    margin-top: -50px;
}

.navbar-toggler {
    margin-top: -55px;
} 

.navbar-collapse {
    margin-top: -50px;
}

.text-gradient {
    background-image: linear-gradient(to right,#2c52a3,#2eaa2e);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    position: relative;
    top:20px;
    left: 149px;
    font-weight: 900;
    font-size: 50px;
    width: 700px;
}

#image1 {
    float:right;
    position: relative;
    top: -200px;
    margin-bottom: -200px;
}

#hireme {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(to right,#2c52a3,#2eaa2e) padding-box,
    linear-gradient(to right,#2c52a3,#2eaa2e) border-box;
    border: transparent 3px solid;
    border-radius: 5px;
    position: relative;
    font-weight: 900;
    font-size: small;
    top: 30px;
    left: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

#viewservices {
    text-decoration: none;
    color: #ffffff;
    background: #2c52a3;
    position: relative;
    top: 30px;
    left: 180px;
    font-weight: 900;
    border: #2c52a3 3px solid;
    margin-left: -20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-size: small;
}

.socialmediaF {
    position: relative;
    bottom: -80px;
    left: 150px;
    text-decoration: none;
    font-weight: 900;
    font-size: xx-large;
    color: #2c52a3;
    background-color: #ffffff;
    border: #ffffff 3px solid;
    padding-right: 5px;
}

.socialmediaF:hover {
    color: #2c52a3;
}

.socialmediaW {
    position: relative;
    bottom: -80px;
    left: 150px;
    text-decoration: none;
    font-weight: 900;
    font-size: xx-large;
    color: #2eaa2e;
    padding-right: 5px;
}

.socialmediaW:hover {
    color: #2eaa2e;
}

.socialmediaI {
    position: relative;
    bottom: -80px;
    left: 150px;
    text-decoration: none;
    font-weight: 900;
    font-size: xx-large;
    background-image: radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    padding-right: 5px;
}

.socialmediaI:hover {
    background-image: radial-gradient(circle at 30% 107%,#fdf497 0%,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.socialmediaT {
    position: relative;
    bottom: -80px;
    left: 150px;
    text-decoration: none;
    font-weight: 900;
    font-size: xx-large;
    color: #1da1f2;
    background-color: #ffffff;
    border: #ffffff 3px solid;
    padding-right: 5px;
}

.socialmediaT:hover {
    color: #1da1f2;
}

@media only screen and (max-width: 1024px) {
    #image1 {
        width: 450px;
        top: -150px;
    }

    .text-gradient {
        font-size: xx-large;
    }    
}

@media only screen and (max-width: 768px) {
    #image1 {
        width: 500px;
        right: -80px;
    }
    .navbar-toggler {
        right: -80px;
    }

    .navbar-collapse {
        margin-right: -80px;
    }  
}

@media only screen and (max-width: 425px) {
    #image1 {
        top: -65px;
        width: 410px;
        left: -14px;
    }

    .text-gradient {
        width: 350px;
        font-size: 21px;
        left: 70px;
        top: -5px;
    }

    .navbar-toggler {
        right: 1px;
    }

    .navbar-collapse {
        margin-right: 1px;
    } 

    #hireme {
        font-size: small;
        top: 70px;
        left: 72px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #viewservices {
        font-size: small;
        top: 70px;
        left: 105px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    
    .socialmediaF {
        font-size: x-large;
        top: 85px;
    }

    .socialmediaW {
        font-size: x-large;
        top: 85px;
    }

    .socialmediaI {
        font-size: x-large;
        top: 85px;
    }

    .socialmediaT {
        font-size: x-large;
        top: 85px;
    }
}

@media only screen and (max-width: 375px) {
    .navbar-toggler {
        right: 0px;
    }

    .navbar-collapse {
        margin-right: 0px;
    } 

    #image1 {
        float: none;
        position: relative;
        top: -80px;
        left: -15px;
        width: 390px;
        margin-right: -300px;
    }

    .text-gradient {
        position: relative;
        top: -10px;
        left: 50px;
        font-size: 20px;
        margin-bottom: 30px;
        width: 300px;
    }

    #hireme {
        top: 70px;
        left: 53px;
        font-size: small;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #viewservices {
        top: 70px;
        left: 85px;
        font-size: small;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .socialmediaF {
        font-size: x-large;
        top: 90px;
        left: 125px;
    }

    .socialmediaW {
        font-size: x-large;
        top: 90px;
        left: 125px;
    }

    .socialmediaI {
        font-size: x-large;
        top: 90px;
        left: 125px;
    }

    .socialmediaT {
        font-size: x-large;
        top: 90px;
        left: 125px;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-toggler {
        right: -55px;
    }

    .navbar-collapse {
        margin-right: -55px;
    }  
}







