/*services.css*/

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.nav-link {
    color: #2eaa2e !important;
    font-size: 17px;
    font-weight: bolder;
}

.nav-item {
    padding-right: 0px;
}

.active-services {
    color: #2c52a3 !important;
}

.nav-link:hover {
    color: #2c52a3 !important;
}

.navbar-brand {
    margin-top: -50px;
}

.navbar-toggler {
    margin-top: -55px;
} 

.navbar-collapse {
    margin-top: -50px;
}

body article #title h1{
    color: #2c52a3;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#content {
    margin-top: 50px;
    text-align: center;
}

.web-devevlopment i{
    color: #2c52a3;
    font-weight: bold;
    font-size: 50px;
}


body article #content .web-devevlopment h2 {
    color: #2c52a3;
    font-weight: bolder;
    font-size: 20px;
}

p {
    color: #2eaa2e;
    font-weight: bold;
    font-size: 15px;
}

.web-design i{
    color: #2c52a3;
    font-weight: bold;
    font-size: 50px;
}

body article #content .web-design h2 {
    color: #2c52a3;
    font-weight: bolder;
    font-size: 20px;
}

.responsive-design i{
    color: #2c52a3;
    font-weight: bold;
    font-size: 50px;
}

body article #content .responsive-design h2 {
    color: #2c52a3;
    font-weight: bolder;
    font-size: 20px;
}

.ui-ux i{
    color: #2c52a3;
    font-weight: bold;
    font-size: 50px;
}

body article #content .ui-ux h2 {
    color: #2c52a3;
    font-weight: bolder;
    font-size: 20px;
}

.artistry i{
    color: #2c52a3;
    font-weight: bold;
    font-size: 50px;
}

body article #content .artistry h2 {
    color: #2c52a3;
    font-weight: bolder;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    #content {
        display: flex;
        justify-content: flex-start;
    }
}




